[Unit]
Description=Docker Registry Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop registry
ExecStartPre=-/usr/bin/docker rm registry
ExecStartPre=-/usr/bin/docker pull registry:2
ExecStart=/usr/bin/docker run -v /srv/registry:/var/lib/registry \
                          -p 5000:5000                           \
                          --name registry                        \
                          registry:2
ExecStop=-/usr/bin/docker stop registry

[Install]
WantedBy=multi-user.target